@page
@model Administracion_Base_de_datos_Proyecto_Final.Pages.Client.ReservaServiciosModel
@{
}
<br />
<h2>Lista de Reservas de Servicio</h2>

<a class="btn btn-primary btn-sm" href='/Client/Create/CreateReservaServicios'> Agregar Nueva Reserva de Servicio</a>
<table class="table">
    <thead>
        <tr>
            <th>ID de Reserva de Servicio</th>
            <th>ID de Servicio</th>
            <th>ID de Reserva</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listReservaServicios)
        {
            <tr>
                <td>@item.IDReservaServicio</td>
                <td>@item.IDServicio</td>
                <td>@item.IDReserva</td>
                <td>
                    <a class="btn btn-primary btn-sm" href='/Client/Edit/EditReservaServicios'>Editar</a>
                    <a class="btn btn-primary btn-sm" href='/Client/DeleteReservaServicios?IDReservaServicio=@item.IDReservaServicio'>Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
