@page
@model Administracion_Base_de_datos_Proyecto_Final.Pages.Client.Edit.EditHabitacionModel
@{
}

<br />
<h2>Editar Habitación</h2>

<form method="POST">
    <input type="hidden" name="NumeroHabitacion" value="@Model.habitacion.NumeroHabitacion" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Hotel ID</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="HotelID" value="@Model.habitacion.HotelID" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Tipo ID</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="TipoID" value="@Model.habitacion.TipoID" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Estado</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="Estado" value="@Model.habitacion.Estado" />
        </div>
    </div>

    <!-- Agregar más campos según sea necesario -->

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>